<!DOCTYPE html>
<html>
<head>
  <title>LOL PUC-Rio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="wrapper" id="wrapper">

  <!-- navbar -->
  <div class="navbar navbar-default navbar-static-top" role="navigation" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          LOL PUC-Rio
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to current_user.name, user_path(current_user) %></li>
            <li><%= link_to "Logout", signout_path %></li>
          <% else %>
            <li><a href="/auth/facebook">Login com Facebook <i class="fa fa-facebook-square"></i></a></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <!--/navbar -->

  <!-- main -->
  <div class="container" id="content">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
    <div class="push"></div>
  </div>
  <!--/main -->

</div>

</body>
</html>
