<!DOCTYPE html>
<html>
<head>
  <title>LOL PUC-Rio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= current_user.name %>
  <%= link_to "Logout", signout_path %>
<% else %>
  <a href="/auth/facebook">Login com Facebook <i class="fa fa-facebook-square"></i></a>
<% end %>


<%= yield %>

</body>
</html>
